//
// Mixins v 0.0.2
// 16/02/14
//


//
// RESPONSIVE
//
// from & upto
//

@mixin from($breakpoint){
  @media screen and (min-width:$breakpoint){
    @content;
  }

  .ltie9{
    @content;
  }

}

@mixin upto($breakpoint){
  @media screen and (max-width:($breakpoint - 1px)){
    @content;
  }
}

//
// Keyframes
//

@mixin keyframes($name){
  @keyframes #{$name}{
    @content;
  }
  @-moz-keyframes #{$name}{
    @content;
  }
  @-webkit-keyframes #{$name}{
    @content;
  }
  @-ms-keyframes #{$name}{
    @content;
  }
}

//
// Sprites
//

$sprites_url: 'img/sprites.png' !default;

@mixin sprited($x, $y, $width: false, $height: false){
  background: url($sprites_url) -#{$x}px -#{$y}px no-repeat;

  @if $height != false{
    height: $height;
    width: $width;
  }
}

//
// Typekit Families
//

@mixin typekitfam( $fam, $type, $number, $sans ){
  $fam_mod_str : #{$fam}-#{$type}#{$number};

  @if ($sans) {
    $sans_str : sans-serif;
  } @else {
    $sans_str : serif;
  }

  font-family: $fam_mod_str, $fam, $sans_str;

  @if ($type == 'n'){
    font-style: normal;
  }@else{
    font-style: italic;
  }

  font-weight: $number * 100;

}

//
// Typografy mixins
// http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
//

@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin enable-kerning {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  font-kerning: normal;
}