//
// Clear Fix Object
//

@mixin o_clearfix{
  *zoom: 1;

  &:before,
  &:after{
    content: ' ';
    display: table;
  }

  &:after{
    clear: both;
  }
}

%o_clearfix{
  @include o_clearfix;
}

//
// Image Replacement Object
//

@mixin o_imagereplacement{
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  overflow: hidden;
}

%o_imagereplacement{
  @include o_imagereplacement;
}


//
// Media Object
//

@mixin o_media_layout{
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

%o_media-layout{
  @include o_media_layout;
}

//
// Inline block object
//

@mixin o_inline-block{
  display: inline-block;
  *display: inline;
  zoom: 1;
}

%o_inline-block{
  @include o_inline-block;
}

//
// Flexible Grid Objects
//

@mixin o_justified-grid {
  text-align: justify;
  font-size: 0;
  text-justify: distribute-all-lines;
}

@mixin o_justified-grid__item{
  @extend %o_inline-block;
  vertical-align: top;
}

%o_justified-grid{
  @include o_justified-grid;
}

%o_justified-grid__item{
  @include o_justified-grid__item;
}
